!!!
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/socket.io/socket.io.js')
    script(src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
    script(src='http://code.leafletjs.com/leaflet-0.3.1/leaflet.js')
    script(src='/javascripts/application.js')

    link(rel='stylesheet', href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.css")
    //if lte IE 8
      link(rel="stylesheet", href="http://code.leafletjs.com/leaflet-0.3.1/leaflet.ie.css")

  body!= body


